{% extends "Online_Cosplay/header.html" %} 

{% block content %}

<style>
  .nav7 {
    color: rgb(31, 139, 158);
  }

  body {
    background-color: #eee;
  }
  .container {
    width: 900px;
  }

  .card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 190px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .image-container {
    position: relative;
    height: 195px;
  }

  .thumbnail-image {
    border-radius: 10px !important;
    width: 100%;
    height: 195px;
  }

  .item-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%;
  }

  .description {
    font-size: 12px;
    width: 75%;
  }

  .price {
    font-size: 13px;
    font-weight: bold;
    color: red;
  }

  .rating-number {
    font-size: 10px;
    color: grey;
  }
  .buy {
    font-size: 12px;
    color: purple;
    font-weight: 500;
  }
  .row1 {
    display: flex;
    flex-wrap: wrap;
    margin: 35px;
    row-gap: 10px;
  }

  .button-1 {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin-top: 20px;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-1:hover,
  .button-1:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
</style>

<div class="container mt-5">
  <h1>
    <span style="color: rgb(31, 139, 158)">{{ user.username }}</span>
    <span style="color: rgb(58, 58, 58)">'s Dashboard</span>
  </h1>
  <form action="/add_item">
    <button class="button-1" type="submit">I Wanna Sell Something !!</button>
  </form>
  <div class="row1">
    {% for item in items %}
    <div class="col-md-3">
      <div class="card">
        <div class="image-container">
          <img
            src="{{ item.image.url }}",
            class="img-fluid rounded thumbnail-image"
          />
        </div>

        <div class="product-detail-container p-2">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="item-name">{{ item.name }}</h5>

            <div class="d-flex flex-column mb-2">
              <span class="price">฿{{ item.price }}</span>
            </div>
          </div>

          <p class="description">{{ item.description }}</p>

          <div class="d-flex justify-content-between align-items-center pt-1">
            <div>
              <span class="rating-number">{{ item.date }}</span>
            </div>

            <a href="/remove/{{ item.id }}" class="buy">Remove -</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
