<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Cosplay</title>
    <title>login</title>
    <link rel="stylesheet" href="login copy.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
      <div class="main">
        <div class="box">
          <h1 class="content">เข้าสู่ระบบ</h1>
          <div class="box2">
            <p1 class="p1">เข้าสู่ระบบด้วยบัญชีผู้ใช้ @psu.ac.th</p1>
          </div>
        </div>
      </div>
      <div class="flexbox">
        <div class="boxloginmain">
          <form action="#">
            <p>
              <label class="label1">Email </label>
              <input type="text" class="input1" />
            </p>

            <p>
              <label class="label2"> Password </label>
              <input type="Password" class="input2" />
            </p>
            <p>
              <button type="submit" class="submit">เข้าสู่ระบบ</button>
            </p>
          </form>
        </div>
      </div>
  </body>
</html>